---
# Language and Base
BasedOnStyle: LLVM
Language: Cpp # covers C, C++, and Objective-C
LineEnding: LF

# Indentation
IndentWidth: 2
TabWidth: 2
UseTab: Never
ContinuationIndentWidth: 2
IndentPPDirectives: AfterHash
PPIndentWidth: 1
IndentGotoLabels: false

# Brace Wrapping (Allman style)
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterObjCDeclaration: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: false
  BeforeWhile: true
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

# Control Statements and Short Blocks
IndentCaseLabels: false


# Line Width and Wrapping
ColumnLimit: 120
AlignAfterOpenBracket: DontAlign
AlignOperands: DontAlign
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: false
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None
BinPackArguments: true
BinPackParameters: true

# Alignment
AlignConsecutiveAssignments: None
AlignConsecutiveBitFields: None
AlignConsecutiveDeclarations: None
AlignConsecutiveMacros: None
AlignTrailingComments:
  Kind: Leave


# Pointers and Qualifiers
PointerAlignment: Right
DerivePointerAlignment: false
QualifierAlignment: Leave

# Spaces
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeSquareBrackets: false
SpacesBeforeTrailingComments: 1
SpacesInContainerLiterals: true
SpacesInParens: Custom
SpacesInParensOptions:
  InConditionalStatements: false



# Blank Lines
MaxEmptyLinesToKeep: 2
KeepEmptyLinesAtTheStartOfBlocks: false
...
