#build files
**/Debug/
**/Release
**/UnitTest
**/VisualStudio
build/
build*/
build_*
**.vs/
*.VC.db
*.VC.opendb
CMemLeak.txt
**/language.settings.xml
massif.out.*
**/*.vcxproj.user
.vscode/
Testing/
TODO.md
/CMakeUserPresets.json
.venv/
__pycache__/
*.py[cod]
.pytest_cache/
/docs/_build/
