[submodule "adt"]
	path = adt
	url = https://github.com/cogu/adt
[submodule "msocket"]
	path = msocket
	url = https://github.com/cogu/msocket
[submodule "dtl_type"]
	path = dtl_type
	url = https://github.com/cogu/dtl_type.git
