[submodule "adt"]
	path = adt
	url = https://github.com/cogu/adt
[submodule "msocket"]
	path = msocket
	url = https://github.com/cogu/msocket
[submodule "dtl_type"]
	path = dtl_type
	url = https://github.com/cogu/dtl_type.git
[submodule "bstr"]
	path = bstr
	url = https://github.com/cogu/bstr.git
[submodule "cutil"]
	path = cutil
	url = https://github.com/cogu/cutil.git
[submodule "dtl_json"]
	path = dtl_json
	url = https://github.com/cogu/dtl_json.git
